<div class="login">
    <form [formGroup]="formGroup" class="custom-form" method="post">
      <h1>Login</h1>
      
      <input
        type="email"
        name="email"
        formControlName="email"
        placeholder="Email"
        required ="required"
      />

      <input
        type="password"
        name="password"
        formControlName="password"
        placeholder="Password"
        required="required"
      />
      <button (click)="login()">Log in</button>
    </form>
  </div>