<app-navbar></app-navbar>
<div class="app-panel-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <mat-card routerLink="/articulos">
                    <mat-icon>motorcycle</mat-icon>
                    <p>Articulos</p>
                </mat-card>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <mat-card routerLink="/proveedores">
                    <mat-icon>local_shipping</mat-icon>
                    <p>Proveedores</p>
                </mat-card>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <mat-card routerLink="/empleados">
                    <mat-icon>person</mat-icon>
                    <p>Vendedores</p>
                </mat-card>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <mat-card routerLink="/clientes">
                    <mat-icon>group</mat-icon>
                    <p>Clientes</p>
                </mat-card>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <mat-card routerLink="/venta">
                    <mat-icon>sell</mat-icon>
                    <p>Generar venta</p>
                </mat-card>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <mat-card routerLink="/facturas">
                    <mat-icon>request_page</mat-icon>
                    <p>Facturas</p>
                </mat-card>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <mat-card routerLink="/otros-comprobantes">
                    <mat-icon>receipt_long</mat-icon>
                    <p>Notas credito / debito</p>
                </mat-card>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <mat-card routerLink="/realizar-oc">
                    <mat-icon>trolley</mat-icon>
                    <p>Generar Orden de compra</p>
                </mat-card>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <mat-card routerLink="/ordenes-compra">
                    <mat-icon>post_add</mat-icon>
                    <p>Ordenes compra</p>
                </mat-card>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <mat-card routerLink="/cobranzas">
                    <mat-icon>attach_money</mat-icon>
                    <p>Cobranzas</p>
                </mat-card>
            </div>
        </div>
    </div>
</div>
