<h1 mat-dialog-title>Detalle de Factura </h1>

<div mat-dialog-content>
    <h2> ID factura {{datosFactura.factura.id}}</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <span>Fecha: {{datosFactura.factura.fecha | date: 'dd/MM/yyyy'}}</span>
            </div>
            <div class="col-md-6 col-sm-12" *ngIf="!mostrarDatosCLiente">
                <span>ID Cliente: {{datosFactura.factura.clienteId}}</span>
            </div>
            <div class="col-md-6 col-sm-12" *ngIf="mostrarDatosCLiente">
              <span>Cliente: {{cliente?.nombre}} {{cliente?.apellido}}</span>
            </div>
            <div class="col-md-6 col-sm-12" *ngIf="mostrarDatosCLiente">
              <span>DNI: {{cliente?.dni}}</span>
            </div>
            <div class="col-md-6 col-sm-12">
                <span>ID Vendedor: {{datosFactura.factura.vendedorId}}</span>
            </div>   
        </div>
    </div>
    <h2>Detalle: </h2>
    <div class="container-fluid">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Cantidad</th>
                <th scope="col">Articulo</th>
                <th scope="col">Precio</th>
                <th scope="col">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of datosFactura.factura.articulos">
                <th scope="row">{{item.cantidad}}</th>
                <td>{{item.articulo.descripcion}}</td>
                <td>{{item.precioUnitario.toFixed(2)}} $</td>
                <td>{{(item.cantidad * item.precioUnitario).toFixed(2) }} $</td>
              </tr>          
            </tbody>
            
          </table>
          <hr/>
        <h3 class="text-end">Total: {{datosFactura.factura.precioFinal.toFixed(2)}}$</h3>
    <div>

  <div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="cerrar()">Cerrar</button>
    
  </div>
  
</div>