<div class="container-fluid mt-4">

    <h1 class="titulo">Articulos</h1>
  
    <mat-card class="card-principal">
      <mat-card-title class="card-title">
        <button mat-raised-button color="primary" (click)="nuevoArticulo()">
          <mat-icon mat-list-icon>add</mat-icon> Nuevo Articulo
        </button>
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content class="dashboard-card-content">
        <mat-form-field appearance="outline">
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="aplicarFiltroTabla($event)" #input>
        </mat-form-field>
  
        
      <div class="mat-elevation-z2 table-responsive">
        <table mat-table [dataSource]="dataListaArticulos">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element" onclick="{visualizArticulo(element)}"> {{element.id}}</td>
          </ng-container>
  
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef>Descripcion</th>
            <td mat-cell *matCellDef="let element"> <a (click)="visualizArticulo(element)">{{element.descripcion}}</a></td>
          </ng-container>
  
          <ng-container matColumnDef="marca">
            <th mat-header-cell *matHeaderCellDef>Marca</th>
            <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
          </ng-container>
  
          <ng-container matColumnDef="modelo">
            <th mat-header-cell *matHeaderCellDef>Modelo</th>
            <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
          </ng-container>
  
          <ng-container matColumnDef="anno">
            <th mat-header-cell *matHeaderCellDef>Año</th>
            <td mat-cell *matCellDef="let element"> {{element.anno}} </td>
          </ng-container>
  
          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef="let element"> {{element.precio}} $</td>
          </ng-container>
  
          <ng-container matColumnDef="stockActual">
            <th mat-header-cell *matHeaderCellDef>Stock Actual</th>
            <td mat-cell *matCellDef="let element"> {{element.stockActual}} </td>
          </ng-container>
  
          <ng-container matColumnDef="stockMinimo">
            <th mat-header-cell *matHeaderCellDef>Stock Minimo</th>
            <td mat-cell *matCellDef="let element"> {{element.stockMinimo}} </td>
          </ng-container>
  
          <ng-container matColumnDef="stockMaximo">
            <th mat-header-cell *matHeaderCellDef>Stock Maximo</th>
            <td mat-cell *matCellDef="let element"> {{element.stockMaximo}} </td>
          </ng-container>
  
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="columna-acciones"> </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="editarArticulo(element)">
                <mat-icon >edit</mat-icon>
              </button>
  
              <button mat-icon-button color="warn" (click)="eliminarArticulo(element)">
                <mat-icon >delete</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
          <tr mat-header-row *matRowDef="let row; columns : columnasTabla"></tr>
  
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4"> No hay datos que coincidan con la busqueda "{{input.value}}" </td>
          </tr>
        </table>
  
        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>
  
        </mat-paginator>
      </div>
      </mat-card-content>
  
    </mat-card>
    
  
  </div>